papers/
.venv/
data/
Direct_Diffusion/out/
Direct_Diffusion/__pycache__/
sketch_tesi.pdf
sketch_tesi.xopp
Autoencoder_diffusion/pretrained/VGG_FACE.t7
Autoencoder_diffusion/pretrained/vgg_face_dag.pth
Autoencoder_diffusion/pretrained/vgg_face_dag_NEW.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_1.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_2.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_3.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_4.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_5.pth
Autoencoder_diffusion/out_ae_reduced/ae_Casia_6.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_0.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_1.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_2.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_3.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_4.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_5.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_6.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_7.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_8.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_9.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_10.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_11.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_12.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_13.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_14.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_15.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_16.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_17.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_18.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_19.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_20.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_21.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_22.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_23.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_24.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_25.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_26.pth
Autoencoder_diffusion/out_ft/ae_IST_MDB_27.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_5.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_10.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_15.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_20.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_25.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_30.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_35.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_40.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_45.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_50.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_55.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_60.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_65.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_70.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_75.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_80.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_85.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_90.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_95.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_100.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_105.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_110.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_115.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_120.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_125.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_130.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_135.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_140.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_145.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_150.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_155.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_160.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_165.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_170.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_175.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_180.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_185.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_190.pth
Autoencoder_diffusion/out_ft_reduced/ae_IST_MDB_195.pth
Autoencoder_diffusion/__pycache__/autoencoder_cnn.cpython-312.pyc
Autoencoder_diffusion/__pycache__/Diffusion.cpython-312.pyc
Autoencoder_diffusion/__pycache__/diffusion.cpython-312.pyc
Autoencoder_diffusion/__pycache__/autoencoder_cnn.cpython-312.pyc
Autoencoder_diffusion/__pycache__/autoencoder_cnn.cpython-312.pyc
Autoencoder_diffusion/__pycache__/autoencoder_cnn.cpython-312.pyc
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_1.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_2.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_3.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_4.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_5.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_6.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_7.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_8.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_9.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_10.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_11.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_12.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_13.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_14.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_15.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_16.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_17.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_18.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_19.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_20.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_21.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_22.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_23.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_24.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_25.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_26.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_27.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_28.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_29.pth
Autoencoder_diffusion/out_ae_reduced_x4/ae_Casia_30.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_5.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_10.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_15.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_20.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_25.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_30.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_35.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_40.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_45.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_50.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_55.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_60.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_65.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_70.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_75.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_80.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_85.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_90.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_95.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_100.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_105.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_110.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_115.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_120.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_125.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_130.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_135.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_140.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_145.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_150.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_155.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_160.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_165.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_170.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_175.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_180.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_185.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_190.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_195.pth
Autoencoder_diffusion/out_ft_reduced_x4/ae_IST_MDB_200.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_5.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_10.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_15.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_20.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_25.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_30.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_35.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_40.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_45.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_50.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_55.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_60.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_65.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_70.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_75.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_80.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_85.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_90.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_95.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_100.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_105.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_110.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_115.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_120.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_125.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_130.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_135.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_140.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_145.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_150.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_155.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_160.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_165.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_170.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_175.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_180.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_185.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_190.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_195.pth
Autoencoder_diffusion/out_ft_reduced_x4f/ae_IST_MDB_200.pth
Autoencoder_diffusion/__pycache__/autoencoder_cnn.cpython-312.pyc
